@model List<ClassLibrary.Order>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Hitta kvitto</h1>

@using (Html.BeginForm("FindPurchase", "Home"))
{
    @Html.ValidationSummary()


    <fieldset>
        <legend>Skriv in ett namn och/eller en email för att söka på en order</legend> <br />

        <label for="fname">Förnamn:</label> <br />
        <input type="text" id="fname" name="fname"> <br /><br />

        <label for="lname">Efternamn:</label><br />
        <input type="text" id="fname" name="lname"> <br /><br />


        <label for="mail">Email:</label><br />
        <input type="email" id="mail" name="mail"><br /><br />

        <input type="hidden" name="isSearchCall" value="true" />
        <button type="submit">Search</button>
    </fieldset>

    if (Model != null)
    {
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="recipt">
                <h1>Order ID: @Model[i].id</h1><br />
                <h3>Förnamn: @Model[i].person.FirstName</h3><br />
                <h3>Efternamn: @Model[i].person.LastName</h3><br />
                <h3>Email: @Model[i].person.Email</h3><br />
                <h3>Komentar: @Model[i].delivery.CommentOnDelivery</h3><br />
                <h3>Leveransdatum: @Model[i].delivery.DeliveryDate.ToShortDateString().ToString()</h3><br />
                <h3>Products:</h3>
                @{int total = 0;}
                @for (int x = 0; x < Model[i].cart.Count; x++)
                {
                    <h3>@Model[i].cart[x].Amount :  @Model[i].cart[x].Product.Name - @Model[i].cart[x].Product.Price</h3>
                        total+=Model[i].cart[x].Amount;
                }
                <h3>Total: @total</h3>
            </div>

        }

    }

}