@model Admin.Models.OderList

@{
    ViewData["Title"] = "Home Page";
}

<h1>Find purchase</h1>

@using (Html.BeginForm("FindPurchase", "Home"))
{
    @Html.ValidationSummary()


   <fieldset>
       <legend>Enter a name or a email to search on a oder</legend> <br />

       <label for="fname">First Name:</label> <br />
       <input type="text" id="fname" name="fname"> <br /><br />

       <label for="lname">Last Name:</label><br />
       <input type="text" id="fname" name="lname"> <br /><br />


       <label for="mail">Email:</label><br />
       <input type="email" id="mail" name="mail"><br /><br />

       <input type="hidden" name="isSearchCall" value="true" />
       <button type="submit">Search</button>
   </fieldset>

    if (Model.oderList.Count>0)
    {
        @for (int i = 0; i < Model.oderList.Count; i++)
        {
            <h1>Odernumber: @Model.oderList[i].OderNumber</h1> <br />
            <h2>First Name: @Model.oderList[i].ObjectVarfname</h2><br />
            <h2>Last Name: @Model.oderList[i].ObjectVarlname</h2><br />
            <h2>MailAdress: @Model.oderList[i].ObjectVarmail</h2><br />

        }

    }

}