@model Webshop.Models.Product
@{
    ViewBag.Title="Oder and pay";
}


    <h1>Enter your info</h1>
@using (Html.BeginForm("Thanks", "Default"))
{

    <fieldset>
        
        <legend>Name and adress</legend>

        <label for="fname">First Name:</label> <br />
        <input type="text" id="fname" name="fname"> <br /><br />

        <label for="lname">Last Name:</label><br />
        <input type="text" id="fname" name="lname"> <br /><br />

        <label for="adress">Adress:</label><br />
        <input type="text" id="adress" name="adress"> <br /><br />
        
        <label for="zipCode">Zip-Code</label><br />
        <input type="text" id="zip-code" name="zipCode"> <br /><br />

        <label for="city">City:</label><br />
        <input type="text" id="zip-code" name="city"> <br /><br />

        <label for="mail">Email:</label><br />
        <input type="email" id="mail" name="mail"><br /><br />


        <label for="b2b" class="light">Company: </label> <input type="checkbox" id="b2b" value="true" name="b2b">
        <input type="hidden" value="false" name="b2b">

    </fieldset>

    <fieldset>

        <legend>Shiping detail</legend>
       
        <label for="DeliveryDate">DeliveryDate:</label>
        <select id="DeliveryDate" name="DeliveryDate">

            <option value="1">@DateTime.Today.AddDays(1).ToShortDateString() </option>
            <option value="2">@DateTime.Today.AddDays(2).ToShortDateString() </option>
            <option value="3">@DateTime.Today.AddDays(3).ToShortDateString() </option>
            <option value="4">@DateTime.Today.AddDays(4).ToShortDateString() </option>
            <option value="5">@DateTime.Today.AddDays(5).ToShortDateString() </option>
            <option value="6">@DateTime.Today.AddDays(6).ToShortDateString() </option>

        </select> <br />
       

        <label for="CommentOnDelivery">Extra comment on delivery</label> <br />
        <textarea id="CommentOnDelivery" name="CommentOnDelivery"></textarea> <br /><br />

        <label>Card Info</label><br />

        <label for="cardnumber">CardNumber</label>
        <input type="text" id="cardnumber" name="cardnumber"/>

        <label for="date">Date</label>
        <input type="month" id="month" value="month" name="date" />

        <label for="CVC">CVC</label>
        <input  type="text" id="CVC"  name="CVC"/>
   

    </fieldset>

    <input type="submit" value="Pay"/>

    }


